In [1]:
import pandas as pd
import json

In [3]:
#with open("goodreads_interactions_mystery_thriller_crime.json", "r") as read_file:
books = 'goodreads_books_mystery_thriller_crime.json'
interactions = []
file = "goodreads_interactions_mystery_thriller_crime.json"
counter = 0
for line in open(file, mode="r"):
    interactions.append(json.loads(line))
    counter += 1
    if counter == 100:
        break

In [14]:
len(interactions)

24862043

In [4]:
interaction_df = pd.DataFrame(interactions)

In [5]:
interaction_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
book_id         100 non-null object
date_added      100 non-null object
date_updated    100 non-null object
isRead          100 non-null bool
rating          100 non-null int64
read_at         100 non-null object
review_id       100 non-null object
started_at      100 non-null object
user_id         100 non-null object
dtypes: bool(1), int64(1), object(7)
memory usage: 6.4+ KB

In [6]:
interaction_df.head()

,book_id,date_added,date_updated,isRead,rating,read_at,review_id,started_at,user_id
0,6392944,Mon Jul 24 02:48:17 -0700 2017,Sun Jul 30 09:28:03 -0700 2017,True,3,Tue Jul 25 00:00:00 -0700 2017,a5ae9eb634692c22930ee6b929e46495,Mon Jul 24 00:00:00 -0700 2017,8842281e1d1347389f2ab93d60773d4d
1,2279538,Wed Mar 29 00:27:14 -0700 2017,Wed Mar 29 00:27:14 -0700 2017,False,0,,3c8093ed2cdda654afb47c04c38d9732,,8842281e1d1347389f2ab93d60773d4d
2,20821043,Mon Mar 27 22:52:11 -0700 2017,Mon Mar 27 22:52:12 -0700 2017,False,0,,27ab15b4cb44919d92760b2c886290eb,,8842281e1d1347389f2ab93d60773d4d
3,31184479,Fri Jan 06 16:22:46 -0800 2017,Fri Jan 06 16:22:46 -0800 2017,False,0,,ccf3e5177da4b4e553e74f954ff461e9,,8842281e1d1347389f2ab93d60773d4d
4,28684704,Tue Nov 15 11:29:22 -0800 2016,Mon Mar 20 23:40:27 -0700 2017,True,3,Sat Mar 18 23:22:42 -0700 2017,5ad65ab504a00893a5702c2139f87da4,Fri Mar 17 23:45:40 -0700 2017,8842281e1d1347389f2ab93d60773d4d

In [2]:
#with open("goodreads_interactions_mystery_thriller_crime.json", "r") as read_file:
books = 'goodreads_books_mystery_thriller_crime.json'
book_data = []
interactions = "goodreads_interactions_mystery_thriller_crime.json"
for line in open(books, mode="r"):
    book_data.append(json.loads(line))

In [3]:
len(book_data)

219235

In [4]:
df = pd.DataFrame(book_data)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219235 entries, 0 to 219234
Data columns (total 27 columns):
asin                   219235 non-null object
authors                219235 non-null object
average_rating         219235 non-null object
book_id                219235 non-null object
country_code           219235 non-null object
description            219235 non-null object
edition_information    219235 non-null object
format                 219235 non-null object
image_url              219235 non-null object
is_ebook               219235 non-null object
isbn                   219235 non-null object
isbn13                 219235 non-null object
kindle_asin            219235 non-null object
language_code          219235 non-null object
link                   219235 non-null object
num_pages              219235 non-null object
popular_shelves        219235 non-null object
publication_day        219235 non-null object
publication_month      219235 non-null object
publication_year       219235 non-null object
publisher              219235 non-null object
ratings_count          219235 non-null object
series                 219235 non-null object
similar_books          219235 non-null object
text_reviews_count     219235 non-null object
url                    219235 non-null object
work_id                219235 non-null object
dtypes: object(27)
memory usage: 45.2+ MB

In [10]:
df.head()

,asin,authors,average_rating,book_id,country_code,description,edition_information,format,image_url,is_ebook,...,publication_day,publication_month,publication_year,publisher,ratings_count,series,similar_books,text_reviews_count,url,work_id
0,,"[{'author_id': '37778', 'role': ''}]",3.93,6066814,US,"London, 1196. At the command of Richard the Li...",,Hardcover,https://images.gr-assets.com/books/1328724803m...,false,...,6,4,2009,Simon & Schuster UK,186,[s169353],"[439108, 522621, 116770, 1275927, 6202655, 840...",15,https://www.goodreads.com/book/show/6066814-cr...,6243149
1,B01NCIKAQX,"[{'author_id': '242185', 'role': ''}]",4.33,33394837,US,,,,https://images.gr-assets.com/books/1493114742m...,true,...,,,,,269,[s1052227],[],60,https://www.goodreads.com/book/show/33394837-t...,54143148
2,B01ALOWJN0,"[{'author_id': '15104629', 'role': ''}, {'auth...",3.49,29074697,US,"<b>BATHS, BANKS AND ROMAN INSURRECTION</b> <br...",,,https://s.gr-assets.com/assets/nophoto/book/11...,true,...,,,,Amazon Digital Services,192,[s953679],[],23,https://www.goodreads.com/book/show/29074697-t...,49305010
3,,"[{'author_id': '190988', 'role': ''}]",3.30,1902202,US,"Gerald breezily introduced his wife, Helen, to...",Large Print,Hardcover,https://s.gr-assets.com/assets/nophoto/book/11...,false,...,1,12,1975,Ulverscroft,52,[s408775],[],8,https://www.goodreads.com/book/show/1902202.De...,1903897
4,,"[{'author_id': '337108', 'role': ''}, {'author...",3.54,9671977,US,"""I misteri di Eleusi"" e il quinto romanzo di A...",,Paperback,https://images.gr-assets.com/books/1474788304m...,false,...,,,2006,Sellerio,22,[s274410],[],3,https://www.goodreads.com/book/show/9671977-ar...,2152906

In [14]:
file = "goodreads_book_genres_initial.json"
genre_raw = []

for line in open(file, mode="r"):
    genre_raw.append(json.loads(line))

In [15]:
genre_df = pd.DataFrame(genre_raw)

In [16]:
genre_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2360655 entries, 0 to 2360654
Data columns (total 2 columns):
book_id    object
genres     object
dtypes: object(2)
memory usage: 36.0+ MB

In [17]:
genre_df.head()

   book_id                                             genres
0  5333265      {'history, historical fiction, biography': 1}
1  1333909  {'fiction': 219, 'history, historical fiction,...
2  7327624  {'fantasy, paranormal': 31, 'fiction': 8, 'mys...
3  6066819  {'fiction': 555, 'romance': 23, 'mystery, thri...
4   287140                                 {'non-fiction': 3}

In [ ]:
genre_df['genres'].value_counts(dropna=False)

In [18]:
books_works = []
file = "goodreads_book_works.json"
for line in open(file, mode="r"):
    books_works.append(json.loads(line))

In [19]:
works = pd.DataFrame(books_works)

In [20]:
works.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1521962 entries, 0 to 1521961
Data columns (total 17 columns):
best_book_id                         1521962 non-null object
books_count                          1521962 non-null object
default_chaptering_book_id           1521962 non-null object
default_description_language_code    1521962 non-null object
desc_user_id                         1521962 non-null object
media_type                           1521962 non-null object
original_language_id                 1521962 non-null object
original_publication_day             1521962 non-null object
original_publication_month           1521962 non-null object
original_publication_year            1521962 non-null object
original_title                       1521962 non-null object
rating_dist                          1521962 non-null object
ratings_count                        1521962 non-null object
ratings_sum                          1521962 non-null object
reviews_count                        1521962 non-null object
text_reviews_count                   1521962 non-null object
work_id                              1521962 non-null object
dtypes: object(17)
memory usage: 197.4+ MB

In [21]:
works.head()

,best_book_id,books_count,default_chaptering_book_id,default_description_language_code,desc_user_id,media_type,original_language_id,original_publication_day,original_publication_month,original_publication_year,original_title,rating_dist,ratings_count,ratings_sum,reviews_count,text_reviews_count,work_id
0,5333265,1,,,1015035,book,,,8,1984,W. C. Fields: A Life on Film,5:1|4:1|3:1|2:0|1:0|total:3,3,12,6,1,5400751
1,25717,22,,,,book,,,,2001,Good Harbor,5:517|4:1787|3:2763|2:966|1:196|total:6229,6229,20150,10162,741,1323437
2,7327624,2,,,171430,book,,,,1987,,5:49|4:58|3:26|2:5|1:3|total:141,141,568,268,7,8948723
3,6066819,38,,,7492276,book,,14,7,2009,Best Friends Forever,5:9152|4:16855|3:19507|2:6210|1:1549|total:53273,53273,185670,89252,3504,6243154
4,287140,2,,,-30,book,,,,1990,Runic Astrology: Starcraft and Timekeeping in ...,5:6|4:1|3:3|2:3|1:2|total:15,15,51,49,5,278577